mixin filiereTree(filieres)
  fieldset
    legend Pré-Bac
    ul
      each filiere, key in filieres
        if filiere.length == 1
          li
            .label.pull-right=filiere[0].statut
            =key
        else
          li
            =key
            ul
              each sousfiliere, key in filiere
                li
                  .label.pull-right=sousfiliere.statut
                  =sousfiliere["sous-filiere-ppi"]


.header
  button(type="button").btn.back.pull-right Retour
  h2 Fichre lycée

.content
  h3=lycee.nom
  .uai="N° UAI : "+lycee.uai
  if lycee["presence-dinternat"]
    .internat="Présence internat : " + lycee["presence-dinternat"]

  if lycee["le-de-la-region"]
    h3 Le + région pour ce lycée
    =lycee["le-de-la-region"]

  h3 Filières
  if lycee.filieres["Pré-Bac"]
    mixin filiereTree(lycee.filieres["Pré-Bac"])

  if lycee.filieres["Post-Bac"]
    mixin filiereTree(lycee.filieres["Post-Bac"])
